@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700%27');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', 'Montserrat' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  background-color: #914bad;
}

.trollface {
  height: 50px;
  margin-right: 15px;
  margin-left: 25px;
}

.header-title {
  color: white;
  font-family: 'Montserrat';
}