body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e2f30;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background-color: #4e5561;
  width: 24.7%;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
}

.image-container > img {
  display: flex;
  border-radius: 20px 20px 0px 0px;
}

.info-section {
  margin: auto;
  width: 50%;
}

.info-section h1 {
  color: #faf9f5;
  margin-bottom: -10px;
}

.info-section h3 {
  color: #edbd11;
  margin-left: 5px;

}

.info-section a {
  color: #faf9f5;
  font-size: 14px;
  text-decoration: none;
  margin-left: 23px;
}

.header-buttons {
  padding: 20px;
  margin: auto;
  margin-left: 10px;
  /* width: 50%; */
  display: flex;
}

.header-buttons button {
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  margin: 3px;
}


.email-button {
  background-color: #faf9f5;
  font-size: 15px;
}

.linkedin-button {
  background-color: #0261a1;
  color: #faf9f5;
  font-size: 15px;
}

.linkedin-button a {
  color: #faf9f5;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 500;
  font-size: 15px;
}

.email-button a {
  color: rgb(48, 47, 47);
  text-decoration: none;
  margin-left: 10px;
  font-weight: 500;
  font-size: 15px;
}

.about-section {
  margin: auto;
  width: 330px;
}

.about-section h2 {
  color: white;
}

.about-section p {
  color: white;
}

.interests-section {
  margin: auto;
  width: 330px;
  padding-bottom: 20px;
}

.interests-section h2 {
  color: white;
}

.interests-section p {
  color: white;
}



