@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F7FB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.intro-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.quizzical {
  color: #293264;
  font-family: 'Karla';
  font-weight: 700;
  margin-bottom: 20px;
}
.quiz-desc {
  color: #293264;
  font-family: 'Inter';
  font-weight: 400;
  margin-bottom: 40px;
}
.button-quiz {
  background-color: #4D5B9E;
  color: white;
  font-family: 'Inter';
  padding: 20px;
  border-radius: 15px;
  margin-left: 5px;
  text-align: center;
  width: 180px;
  box-shadow: 2px 2px #293264;
  cursor: pointer;
}

.button-quiz:active {
  box-shadow: 0 0;
}