@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F55A5A;
}

.globe {
  color: white;
  height: 40px;
}

.navbar-text {
  color: white;
  margin-left: 10px;
}
